<form method="post" action=<%= users_url %>>
<label>
username
<input name="user[username]" type="text"/>
</label>
<label>
password
<input name="user[password]" type="password"/>
</label>
<button type="submit">submit</button>
</form>